{
  "extends": "stylelint-config-standard",

  "rules": {
    "indentation": 2, // проверка отступов (2 пробела)
    "color-no-invalid-hex": true, // проверка на валидность цветовых значений
    "declaration-block-trailing-semicolon": "always", // проверка на наличие точки с запятой в конце блока объявлений
    "block-no-empty": true, // проверка на пустые блоки
    "selector-pseudo-class-no-unknown": [
      true,
      { "ignorePseudoClasses": ["global"] }
    ], // проверка на неизвестные псевдоклассы
    "property-no-unknown": [true, { "ignoreProperties": ["composes"] }], // проверка на неизвестные свойства
    "declaration-block-no-duplicate-properties": true, // проверка на дублирующиеся свойства
    "declaration-block-no-shorthand-property-overrides": true, // проверка на использование сокращенных свойств после полных объявлений
    "selector-max-id": 0, // проверка на использование id-селекторов
    "selector-no-qualifying-type": [true, { "ignore": ["attribute"] }], // проверка на использование квалифицированных типов селекторов
    "at-rule-no-unknown": null // отключение проверки на неизвестные at-правила, так как stylelint не всегда распознает все настраиваемые at-правила
  }
}
