.scroll-down .header {
	// transform: translate3d(0, -100%, 0);
	&__bottom{
		background-color: $secondColor;
		box-shadow: 0 0 10px rgb(0 0 0 / 30%);
	  }
}

.scroll-up .header {
	transform: none;
	&__bottom{
		background-color: $secondColor;
		box-shadow: 0 0 10px rgb(0 0 0 / 30%);
	  }
	

  // .header__wrapper
  &__wrapper {
	background-color: rgba(1, 1, 1, 0.5);
	
  }
  &__bottom{
	background-color: $secondColor;
	box-shadow: 0 0 10px rgb(0 0 0 / 30%);
  }
	
}

.open {
	.header {
		transform: translate3d(0, 0, 0);
	}}