.train {
  
  padding: 60px 0;
  background-color: $secondColor;

  // .train__title
  &__title {
    color: $textAccentColor;
    margin-bottom: 60px;
   
  }
  // .train__content
  &__content {
    @include flex(space-between);
    overflow-x: auto;
    max-width: 1440px;
    margin: 0 auto;
    
  }
  // .train__box
  &__box {
    @include flex(center, center);
    position: relative;
    min-width: 360px;
    min-height: 549px;
    max-width: 100%;
    
    
    picture{
      position: absolute;
      top: 0%;
      width: 100%;
      height: 100%;
    }
  }
  // .train__img
  &__img {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
  }
  // .train__subtitle
  &__subtitle {
    position: relative;
    z-index: 1;

    text-align: center;
  }
}
