// Заголовки, общие БЄМ блоки и проче...

.title {
  
  

font-family: 'BOWLER';
font-style: normal;
font-weight: 400;
font-size: 59px;
line-height: 65px;
color: $textMainColor;
text-transform: uppercase;
&--dark{
  color: #010101;

}


}

.subtitle {
 

font-family: 'BOWLER';

font-size: 22px;
line-height: 24px;

color: $textMainColor;


}

.text {
  font-family: "ProximaNova-Light";

  font-weight: 300;
  font-size: 18px;
  line-height: 18px;

  color: $textMainColor;
 


  &--right {
    text-align: right;
    @include media(max, lg) {
      text-align: center;
    }
  }
}
.btn {
  @include flex(center, center);

  background: $accentColor;
  border-radius: 21px;
  font-family: "ProximaNova-Extrabld";
  padding: 0 15px;
  font-weight: 800;
  font-size: 13px;
  line-height: 13px;

  text-transform: uppercase;

  color: $textMainColor;
  &:hover {
    background: $secondColor;
    a, span {
      background: linear-gradient(84.14deg, #7200ff -0.11%, #ff0202 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
  }
}
